/.DS_Store
/.venv
/.vscode
/calendarmodule
/chat-sample
/customtestdatageneration
/demo.html
/domqnet
/githubcopilottesting
/googlegemini
/helloworld
/helloworld-0.2.1.tgz
/htmltopdf
/index.html
/nginx
/nginx-15.4.3.tgz
/node_modules
/package-lock.json
/package.json
/playwrightdemo
/privategpt
/proxy-server
/serversideproxy.html
/vscode-extension-samples-main